#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-gap: 1px;
    width: 960px;
    margin: 0 auto;
  }
  
  .square {
    width: calc(960px / var(--grid-size) - 2px);
    height: calc(960px / var(--grid-size) - 2px);
    border: 1px solid #000;
    box-sizing: border-box;
  }
  